.menu-auth {
  min-height: 74px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-auth__list {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.menu-auth__link {
  text-decoration: none;
}

.menu-auth__link_type_register {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  transition: opacity 0.5s ease-in;
  color: #fff;
}

.menu-auth__link_type_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background-color: var(--bg-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: black;
}
