.not-found {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68;
  text-align: center;
}

.not-found__404 {
  font-size: 140px;
  line-height: 1.21;
  text-align: center;
}

.button_type_to-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 274px);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  color: #ff6838;
}

@media screen and (max-width: 450px) {
  .not-found__title {
    font-size: 12px;
    line-height: 1.25;
  }

  .not-found__404 {
    font-size: 80px;
    line-height: 1.42;
  }

  .button_type_to-main {
    transform: translate(-50%, 345px);
    font-size: 12px;
    line-height: 1.25;
  }
}
