:root {
  --bg-color: #2be080;
}

.app {
  padding: 0 20px 0;
  background-color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_width_l {
  padding: 0 70px 0;
  box-sizing: border-box;
}

.bg_blue {
  background-color: #465dff;
}

.reset-ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.reset-a {
  color: inherit;
  text-decoration: none;
}
