.portfolio {
  width: 100%;
  min-height: 475px;
  padding: 50px 70px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.portfolio__header {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #a0a0a0;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.portfolio__item {
  padding-bottom: 19px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
}

.portfolio__icon {
  line-height: inherit;
}

@media screen and (max-width: 770px) {
  .portfolio {
    min-height: 439px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .portfolio__links {
    gap: 20px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 1.78;
  }
}

@media screen and (max-width: 440px) {
  .portfolio {
    min-height: 343px;
    padding-right: 14px;
    padding-left: 14px;
    gap: 40px;
  }

  .portfolio__header {
    font-size: 14px;
    line-height: 1.42;
  }

  .portfolio__links {
    gap: 14px;
  }

  .portfolio__item {
    padding-bottom: 25px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 1.56;
  }
}
