.portfolio {
  width: 100%;
  min-height: 475px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.portfolio__header {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #a0a0a0;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.portfolio__item {
  padding-bottom: 19px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
}

.portfolio__icon {
  line-height: 2;
}
