.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.navigation__menu {
  --color-burger: #fff;
  color: #fff;
}

@media screen and (max-width: 770px) {
  .navigation__menu {
    color: #000;
  }
}
